@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');

body {
    background-color: #111111;
}

h1 {
    font-size: 72px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-align: center;
    user-select: none;
    margin-bottom: 100px;
}

a {
    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-align: center;
    user-select: none;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    cursor: pointer;
    margin: auto;
}

a:hover {
    border: #fff;
    border-style: solid;
    border-width: 3px;
    transition: 0.1s;
}

.selection-container {
    width: 500px;
    height: 250px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

.intro-container {
    width: 756px;
    height: 756px;
    margin: auto;
    text-align: center;
}

.intro-text {
    margin: auto;
    margin-top: 200px;
    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-align: center;
    align-content: center;
    user-select: none;
}

#score-container {
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    user-select: none;
}

#hack-board {
    margin: auto;
    margin-top: 20px;
    width: 756px;
    height: 756px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #2b2c2b;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.tile, .crossed-tile {
    height: 90px;
    width: 90px;
    margin: 9px 9px;
    background-color: #119822;
    cursor: pointer;
}

.marked-tile-blinking {
    height: 90px;
    width: 90px;
    margin: 9px 9px;
    background-color: #7be41a;
    cursor: pointer;
    animation: blinking 1s linear infinite;
}

.marked-tile {
    height: 90px;
    width: 90px;
    margin: 9px 9px;
    background-color: #7be41a;
    cursor: pointer;
}

.invalid-tile {
    height: 90px;
    width: 90px;
    margin: 9px 9px;
    background-color: #cf1111;
    cursor: pointer;
}

.number, .points {
    text-align: center;
    line-height: 25px;
    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    user-select: none;
}

.hidden-number {
    text-align: center;
    line-height: 25px;
    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
    color: transparent;
    user-select: none;
}

#timer-container {
    margin: auto;
    margin-top: 20px;
    width: 756px;
    height: 26px;
    align-items: center;
}

.timer {
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    user-select: none;
}

@keyframes blinking {
    50% {
      background-color: #119822;
    }
}